<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @night_life.type %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @night_life.tel %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @night_life.mail %>
</p>

<p>
  <strong>Contactp:</strong>
  <%= @night_life.contactp %>
</p>

<p>
  <strong>Contactt:</strong>
  <%= @night_life.contactt %>
</p>

<p>
  <strong>Pavg:</strong>
  <%= @night_life.pavg %>
</p>

<p>
  <strong>Promo:</strong>
  <%= @night_life.promo %>
</p>

<%= link_to 'Edit', edit_night_life_path(@night_life) %> |
<%= link_to 'Back', night_lives_path %>
