<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @event.location_name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @event.tel %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @event.mail %>
</p>

<p>
  <strong>Contactp:</strong>
  <%= @event.contactp %>
</p>

<p>
  <strong>Contactt:</strong>
  <%= @event.contactt %>
</p>

<p>
  <strong>Pavg:</strong>
  <%= @event.pavg %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Music:</strong>
  <%= @event.music %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @event.activity %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
