<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @restaurant.type %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @restaurant.tel %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @restaurant.mail %>
</p>

<p>
  <strong>Contactp:</strong>
  <%= @restaurant.contactp %>
</p>

<p>
  <strong>Contactt:</strong>
  <%= @restaurant.contactt %>
</p>

<p>
  <strong>Pavg:</strong>
  <%= @restaurant.pavg %>
</p>

<p>
  <strong>Promo:</strong>
  <%= @restaurant.promo %>
</p>

<p>
  <strong>Servicetype:</strong>
  <%= @restaurant.serviceType %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
