<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @hotel.type %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @hotel.tel %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @hotel.mail %>
</p>

<p>
  <strong>Contactp:</strong>
  <%= @hotel.contactp %>
</p>

<p>
  <strong>Contactt:</strong>
  <%= @hotel.contactt %>
</p>

<p>
  <strong>Pta:</strong>
  <%= @hotel.pta %>
</p>

<p>
  <strong>Ptb:</strong>
  <%= @hotel.ptb %>
</p>

<p>
  <strong>Pavg:</strong>
  <%= @hotel.pavg %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @hotel.stars %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
