<h1>Listing shoppings</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Tel</th>
      <th>Mail</th>
      <th>Contactp</th>
      <th>Contactt</th>
      <th>Products</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shoppings.each do |shopping| %>
      <tr>
        <td><%= shopping.type %></td>
        <td><%= shopping.tel %></td>
        <td><%= shopping.mail %></td>
        <td><%= shopping.contactp %></td>
        <td><%= shopping.contactt %></td>
        <td><%= shopping.products %></td>
        <td><%= link_to 'Show', shopping %></td>
        <td><%= link_to 'Edit', edit_shopping_path(shopping) %></td>
        <td><%= link_to 'Destroy', shopping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopping', new_shopping_path %>
